<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Project }}: Branch: {{.Name}}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">{{.Project}}</a>: Branch: <a href="./">{{.Name}}</a></h1>
    </header>
    <main>
      <hr>
      {{- with $list := .Commits}}
      {{- with index $list 0 }}
      <h2><a href="/commit/{{.Hash}}/">HEAD</a></h2>
      {{- end}}
      <table>
        <caption>{{len $list}} commits total</caption>
        <thead>
          <tr>
            <th>Date</th>
            <th>Commit</th>
            <th>Subject</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
        {{- range $list}}
          <tr>
            <td>
              <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "01/02/06 15:04"}}</time>
            </td>
            <td><code>{{.Abbr}}</code></td>
            <td><a href="/commit/{{.Hash}}/">{{.Subject}}</a></td>
            <td><a href="mailto:{{.Author.Email}}">{{.Author.Name}}</a></td>
          </tr>
        {{- end}}
        </tbody>
      </table>
      {{- else}}
      <p>&hellip;</p>
      {{- end}}
      <hr>
    </main>
    <footer>
      <p>Made with <a href="https://github.com/thewhodidthis/gtx">gtx</a> &rsaquo;</p>
    </footer>
  </body>
</html>
