<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Abbr}}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">{{.Project}}</a>: Commit: {{.Abbr}}</h1>
    </header>
    <main>
      <hr>
      <h2>Branch: <a href="/branch/{{.Branch}}/">{{.Branch}}</a></h2>
      <dl>
        <dt>Author</dt>
        <dd>{{.Author.Name}} <{{.Author.Email}}></dd>
        <dt>Date</dt>
        <dd>{{.Date.Format "Jan. 02 '06 15:04:05"}}</dd>
        <dt>Commit</dt>
        <dd>{{.Hash}}</dd>
        {{- range .Parents }}
        <dt>Parent</dt>
        <dd>
          <a href="/commit/{{.}}">{{.}}</a>
          (<a href="/commit/{{$.Hash}}/diff-to-{{.}}.html">diff to parent</a>)
        </dd>
        {{- end }}
        {{- with .Body }}
        <dt>Message</dt>
        <dd><pre>{{.}}</pre></dd>
        {{- end }}
        <dt>Diff stat</dt>
        {{- range .History }}
        <dd><pre>{{.}}</pre></dd>
        {{- end }}
        <dt>Files</dt>
        {{- range .Tree}}
        <dd>
          <a href="/commit/{{$.Hash}}/{{.Path}}.html">{{.Path}}</a>
          (<a href="/object/{{slice .Hash 0 2}}/{{.Hash}}" download="{{.Path}}">raw</a>)
        </dd>
        {{- end }}
      </dl>
      <hr>
    </main>
    <footer>
      <p>Made with <a href="https://github.com/thewhodidthis/gtx">gtx</a> &rsaquo;</p>
    </footer>
  </body>
</html>
