<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Parent}}</title>
  </head>
  <body>
    {{- with .Commit}}
    <header>
      <h1><a href="/">{{.Project}}</a>: Diff: {{.Abbr}} {{$.Parent}}</h1>
    </header>
    {{- end}}
    {{- with .Commit}}
    <main>
      <hr>
      <h2>Branch: <a href="/branch/{{.Branch}}/">{{.Branch}}</a></h2>
      <h3>Commit: <a href="/commit/{{.Hash}}/">{{.Hash}}</a></h3>
      <dl>
        <dt>Author</dt>
        <dd>{{.Author.Name}} <{{.Author.Email}}></dd>
        <dt>Date</dt>
        <dd>{{.Date.Format "Jan. 02 '06 15:04:05"}}</dd>
        <dt>Parent</dt>
        <dd>
          <a href="/commit/{{$.Parent}}">{{$.Parent}}</a>
        </dd>
      </dl>
      <pre>{{$.Body}}</pre>
      <hr>
    </main>
    {{- end }}
    <footer>
      <p>Made with <a href="https://github.com/thewhodidthis/gtx">gtx</a> &rsaquo;</p>
    </footer>
  </body>
</html>
