<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Project}}</title>
  </head>
  <body>
    <header>
      <h1><a href="./">{{.Project}}</a></h1>
    </header>
    <main>
      <hr>
      <h2>Repository</h2>
      <p>Clone this repo using: <code>git clone {{.Link}}</code></p>
      {{- with $list := .Branches}}
      <h2>Branches</h2>
      {{- range $list}}
      <details open>
        <summary><a href="/branch/{{.Name}}/">{{.Name}}</a></summary>
        {{- with and (len .Commits) (index .Commits 0) }}
        <dl>
          <dt>Subject</dt>
          <dd>{{.Subject}}</dd>
          <dt>Author</dt>
          <dd>{{.Author.Name}} <{{.Author.Email}}></dd>
          <dt>Date</dt>
          <dd>
            <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "Jan. 02 '06 15:04:05"}}</time>
          </dd>
        </dl>
        {{- end}}
      </details>
      {{- end}}
      {{- else}}
      <p>&hellip;</p>
      {{- end}}
      <hr>
    </main>
    <footer>
      <p>Made with <a href="https://github.com/thewhodidthis/gtx">gtx</a> &rsaquo;</p>
    </footer>
  </body>
</html>
