<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Project}}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">{{.Project}}</a>: {{.Hash}}</h1>
    </header>
    <main>
      <hr>
      <pre>{{.Body}}</pre>
      <hr>
    </main>
    <footer>
      <p>Made with <a href="https://github.com/thewhodidthis/gtx">gtx</a> &rsaquo;</p>
    </footer>
  </body>
</html>
