<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="{{with .Base}}{{.}}{{else}}/{{end}}">
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    {{- with .Stylesheet }}
    <link rel="stylesheet" href="{{.}}">
    {{- else }}
    <style>
      html {
        font: medium/normal serif;
      }
      a:target {
        outline: 1px dotted;
      }
      summary {
        font-size: large;
      }
      figcaption {
        font-weight: bold;
      }
      caption {
        caption-side: bottom;
      }
    </style>
    {{- end }}
  </head>
  <body>
    <header>
      <h1><a href="./">{{with .Data.Project}}{{.}}{{else}}Home{{end}}</a></h1>
    </header>
    <main>
      <hr>
      {{- with .Data.Source}}
      <h2>Repository</h2>
      <p>Static archive for: <code>{{.}}</code></p>
      {{- end}}
      {{- with $list := .Data.Branches}}
      <h2>Branches</h2>
      {{- range $i, $item := $list}}
      <details{{if eq $i 0}} open{{end}}>
        <summary><samp><em><a href="branch/{{.Name}}/">{{.Name}}</a></em></samp></summary>
        {{- with and (len .Commits) (index .Commits 0) }}
        <dl>
          <dt>Author</dt>
          <dd>{{.Author.Name}} <{{.Author.Email}}></dd>
          <dt>Date</dt>
          <dd>
            <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "Jan. 02 '06 15:04:05"}}</time>
          </dd>
          <dt>Commit</dt>
          <dd><a href="commit/{{.Hash}}/">{{.Hash}}</a></dd>
          <dt>Subject</dt>
          <dd>{{.Subject}}</dd>
        </dl>
        {{- end}}
      </details>
      {{- end}}
      {{- end}}
      {{- with .Data.Branch}}
      <h2>Branch: <a href="branch/{{.Name}}/">{{.Name}}</a></h2>
      <table>
        <caption>{{len .Commits}} commits total</caption>
        <thead>
          <tr>
            <th>Date</th>
            <th>Commit</th>
            <th>Subject</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
        {{- range .Commits}}
          <tr>
            <td>
              <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "01/02/06 15:04"}}</time>
            </td>
            <td><samp>{{.Abbr}}</samp></td>
            <td><a href="commit/{{.Hash}}/">{{.Subject}}</a></td>
            <td>{{.Author.Name}}</td>
          </tr>
        {{- end}}
        </tbody>
      </table>
      {{- end}}
      {{- with .Data.Commit}}
      <h2>Branch: <a href="branch/{{.Branch}}/">{{.Branch}}</a></h2>
      <dl>
        <dt>Author</dt>
        <dd>{{.Author.Name}} <{{.Author.Email}}></dd>
        <dt>Date</dt>
        <dd>{{.Date.Format "Jan. 02 '06 15:04:05"}}</dd>
        <dt>Commit</dt>
        <dd><a href="commit/{{.Hash}}/">{{.Hash}}</a></dd>
        {{- range .Parents }}
        <dt>Parent</dt>
        <dd>
          <a href="commit/{{.}}">{{.}}</a>
          &laquo;
          <a href="commit/{{$.Data.Commit.Hash}}/diff-{{.}}.html">diff</a>
        </dd>
        {{- end }}
        {{- with .Body }}
        <dt>Message</dt>
        <dd><pre>{{.}}</pre></dd>
        {{- end }}
      </dl>
      {{- with $list := .History }}
      <figure>
        <figcaption>Overview</figcaption>
        {{- range $list }}
        <pre><code>{{diffstatbodyparser .}}</code></pre>
        {{- end }}
      </figure>
      {{- end }}
      <figure>
        <figcaption>File tree</figcaption>
        <ul>
        {{- range .Tree}}
        <li>
          <a href="commit/{{$.Data.Commit.Hash}}/{{.Path}}.html">{{.Path}}</a>
          <em><a href="object/{{.Dir}}" download="{{.Path}}">raw</a></em>
        </li>
        {{- end}}
        </ul>
      </figure>
      {{- end}}
      {{- with .Data.Diff}}
      <h2>Branch: <a href="branch/{{.Commit.Branch}}/">{{.Commit.Branch}}</a></h2>
      <dl>
        <dt>Author</dt>
        <dd>{{.Commit.Author.Name}} <{{.Commit.Author.Email}}></dd>
        <dt>Date</dt>
        <dd>{{.Commit.Date.Format "Jan. 02 '06 15:04:05"}}</dd>
        <dt>Commit</dt>
        <dd><a href="commit/{{.Commit.Hash}}/">{{.Commit.Hash}}</a></dd>
        <dt>Parent</dt>
        <dd>
          <a href="commit/{{$.Data.Diff.Parent}}">{{$.Data.Diff.Parent}}</a>
        </dd>
      </dl>
      <figure>
        <figcaption>Changes</figcaption>
        <pre>{{diffbodyparser .}}</pre>
      </figure>
      {{- end }}
      {{- with .Data.Object}}
      {{- $dir := .Dir}}
      <table>
        <tr>
          {{- with .Lines }}
          {{- $l := (printf "%d" (len .)) -}}
          <td>
            <pre>
            {{- range . -}}
              <a href="object/{{$dir}}.html#L{{.}}" id="L{{.}}">{{printf "%*d" (len $l) .}}</a><br>
            {{- end -}}
            </pre>
          </td>
          {{- end}}
          {{- if .Bin}}
          <td>
            <p>No text preview is available for <a href="object/{{.Dir}}" download="{{.Path}}">{{.Path}}</a>.</p>
          </td>
          {{- else}}
          <td><pre>{{.Body}}</pre></td>
          {{- end}}
        </tr>
      </table>
      {{- end }}
      <hr>
      <nav>
        <p>
        {{- if .Data.Branches}}
          You are home
        {{- else}}
          You are here:
          <a href="./">home</a>
          {{- with .Data.Path}}
            {{- with .Branch}}: <a href="branch/{{.}}/">{{.}}</a>{{- end}}
            {{- with .Commit}}: <a href="commit/{{.}}/">{{printf "%.7s" .}}</a>{{- end}}
          {{- end}}
          {{- with .Data.Branch}}: <span>{{.Name}}</span>{{- end}}
          {{- with .Data.Commit}}: <span>{{.Abbr}}</span>{{- end}}
          {{- with .Data.Object}}: <span>{{.Path}}</span>{{- end}}
          {{- with .Data.Diff.Commit}}: <span>{{.Abbr}}</span>{{- end}}
        {{- end}}
        </p>
      </nav>
      <hr>
    </main>
    <footer>
      <p>Made with <a href="https://github.com/thewhodidthis/gtx">gtx</a> &rsaquo;</p>
    </footer>
  </body>
</html>
